<template>
  <div class="col-3 md:col-4">
    <Card>
      <template #title> Gitlab </template>
      <template #content>
        <h4>Select project</h4>

        <Dropdown
          v-model="selected"
          :options="projects"
          optionLabel="name"
          :filter="true"
          :showClear="true"
        ></Dropdown>
        <Button
          label="Add"
          icon="pi pi-pencil"
          class="p-button-text p-button-raised"
          @click="addProject"
        ></Button>
        <DataTable
          :value="projectDetails"
          class="p-datatable-sm mt-3"
          responsiveLayout="scroll"
        >
          <template #header> Last activity </template>
          <Column field="name" header="Repository"></Column>
          <Column field="lastActivityAt" header="At"></Column>
          <Column field="since" header="Since"></Column>
          <Column field="commitCount" header="Commit count"></Column>
        </DataTable>
      </template>
    </Card>
  </div>
</template>

<script setup lang="ts">
import Card from "primevue/card";
import Dropdown from "primevue/dropdown";
import Button from "primevue/button";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import { inject, ref } from "vue";
import type Keycloak from "keycloak-js";
import { storeToRefs } from "pinia";
import { useProjectStore } from "@/stores/project";
import { useRoute } from "vue-router";
import { useGitlabProjectStore } from "@/modules/vcs/gitlab/stores/gitlabproject";

const { fetchProjects, getProjectDetails, linkProject } =
  useGitlabProjectStore();
const { project } = storeToRefs(useProjectStore());
const { projectDetails, projects } = storeToRefs(useGitlabProjectStore());

const keycloak = inject<Keycloak>("keycloak");

const route = useRoute();

let selected = ref();

getProjectDetails(route.params.id as unknown as number, keycloak?.token || "");
fetchProjects(keycloak?.token || "");

function addProject() {
  linkProject(
    route.params.id as unknown as number,
    keycloak?.token || "",
    selected.value.id
  );
  selected.value = null;
}
</script>

<style scoped></style>
