<template>
  <div class="col-12">
    <Card>
      <template #title> Actions </template>
      <template #content>
        <Toolbar class="mb-4">
          <template #start>
            <Button
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              @click="openNew"
            />
          </template>
        </Toolbar>
        <DataTable
          :value="actions"
          dataKey="id"
        >
          <Column field="from" header="From"></Column>
          <Column field="to" header="To"></Column>
          <Column field="moduleActions" header="Module Actions">
            <template #body="slotProps">
              <Chip
                v-for="action in slotProps.data.moduleActions"
                :label="action.name"
                class="mr-2 mb-1 p-1 pl-3 pr-3"
              ></Chip>
            </template>
          </Column>
          <Column :exportable="false" style="min-width:8rem">
            <template #body="slotProps">
              <Button icon="pi pi-trash" class="p-button-rounded p-button-warning" @click="confirmDeleteAction(slotProps.data)" />
            </template>
          </Column>
        </DataTable>
      </template>
    </Card>
    <CreateActionDialog></CreateActionDialog>
    <DeleteActionDialog></DeleteActionDialog>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { inject, ref } from "vue";
import Card from "primevue/card";
import type Keycloak from "keycloak-js";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Chip from "primevue/chip";
import Toolbar from "primevue/toolbar";
import Button from "primevue/button";
import { useActionStore } from "@/stores/action";
import CreateActionDialog from "@/components/CreateActionDialog.vue";
import type StatusUpdateAction from "@/model/StatusUpdateAction";
import DeleteActionDialog from "@/components/DeleteActionDialog.vue";

const { actions, deleteActionDialog, actionDialog, submitted, action } =
  storeToRefs(useActionStore());
const { getActions } =
  useActionStore();

let keycloak = inject<Keycloak>("keycloak");

getActions(keycloak?.token || "");

const openNew = () => {
  action.value = null;
  submitted.value = false;
  actionDialog.value = true;
};

const confirmDeleteAction = (toDelete: StatusUpdateAction) => {
  action.value = toDelete;
  deleteActionDialog.value = true;
};
</script>

<style scoped></style>
