<template>
  <Card class="login">
    <template #content>
      <h1>Project DB</h1>
      <p>Please log in</p>
      <Button @click="() => $keycloak.login()" label="Login" />
    </template>
  </Card>
</template>

<script setup lang="ts">
import Button from "primevue/button";
import Card from "primevue/card";
</script>

<style scoped>
.login{
  margin: 10vh 20vw;
  text-align: center;
}
</style>
