<script setup lang="ts">
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import Card from "primevue/card";
import { getCurrentInstance, reactive, ref } from "vue";
import { storeToRefs } from "pinia";
import { useProjectStore } from "@/stores/project";
import CreateRequest from "@/model/CreateRequest";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import router from "@/router";

const { project, loading } = storeToRefs(useProjectStore());
const { createProject } = useProjectStore();

let name = ref<string>();
let keycloak =
  getCurrentInstance()?.appContext.config.globalProperties.$keycloak;

const submitted = ref(false);

const handleSubmit = (isFormValid: boolean) => {
  submitted.value = true;

  if (!isFormValid) {
    return;
  }

  createRequest();
};

let createRequest = () => {
  createProject(new CreateRequest(state.name), keycloak.token).then(() => {
    if (project?.value?.id) {
      router.push("/project/" + project.value.id);
    }
  });
};

const state = reactive({
  name: "",
});

const rules = {
  name: { required },
};

const v$ = useVuelidate(rules, state);
</script>

<template>
  <Card style="width: 25rem; margin: 2em">
    <template #title> Create project</template>
    <template #content>
      <form @submit.prevent="handleSubmit(!v$.$invalid)" class="formgrid grid">
        <div class="field inputfield w-full">
          <div class="p-float-label">
            <InputText
              id="name"
              type="text"
              v-model="v$.name.$model"
              :class="{ 'p-invalid': v$.name.$invalid && submitted }"
            />
            <label
              for="name"
              :class="{ 'p-error': v$.name.$invalid && submitted }"
              >Project name*</label
            >
            <small
              v-if="(v$.name.$invalid && submitted) || v$.name.$pending"
              class="p-error"
              >{{ v$.name.required.$message.replace("Value", "Name") }}</small
            >
          </div>
        </div>

        <div class="field inputfield w-full">
          <Button label="Create" type="submit" :loading="loading" />
        </div>
      </form>
    </template>
  </Card>
</template>

<style lang="scss" scoped></style>
