<template>
  <main>
    <DataView
      :value="projects"
      :layout="layout"
      :paginator="true"
      :rows="9"
      :sortOrder="sortOrder"
      :sortField="sortField"
      dataKey="id"
    >
      <template #header>
        <div class="grid grid-nogutter">
          <div class="col-6" style="text-align: left">
            <Dropdown
              v-model="sortKey"
              :options="sortOptions"
              optionLabel="label"
              placeholder="Sort By"
              @change="onSortChange($event)"
            />
          </div>
          <div class="col-6" style="text-align: right">
            <DataViewLayoutOptions v-model="layout" />
          </div>
        </div>
      </template>
      <template #grid="slotProps">
        <div class="col-12 md:col-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-top">
              <div>
                <i class="pi pi-sync product-category-icon"></i>
                <span class="product-category">{{
                  slotProps.data.status
                }}</span>
              </div>
              <span :class="'product-badge status-'">{{
                slotProps.data.type
              }}</span>
            </div>
            <div class="product-grid-item-content">
              <Avatar
                :label="initial(slotProps.data.name)"
                size="xlarge"
                :style="
                  'margin: 2rem; background-color: ' +
                  computeColor(slotProps.data.name) +
                  '; color: ' +
                  getTextColor(slotProps.data.name)
                "
              />
              <div class="product-name">{{ slotProps.data.name }}</div>
              <div class="product-description">
                {{ slotProps.data.description }}
              </div>
              <ProgressBar
                :value="slotProps.data.progress"
                style="height: 0.5em"
                class="mb-3 ml-5 mr-5"
                :showValue="false"
              ></ProgressBar>
            </div>
            <div class="product-grid-item-bottom">
              <span class="product-price"
                ><i class="pi pi-users"></i>
                {{ slotProps.data.roles.length }}</span
              >
              <Button
                icon="pi pi-angle-double-right"
                @click="() => $router.push('/project/' + slotProps.data.id)"
                label="Detail"
              ></Button>
            </div>
          </div>
        </div>
      </template>
      <template #list="slotProps">
        <div class="col-12">
          <div class="product-list-item">
            <Avatar
              :label="initial(slotProps.data.name)"
              size="xlarge"
              :style="
                'margin: 2rem; background-color: ' +
                computeColor(slotProps.data.name) +
                '; color: ' +
                getTextColor(slotProps.data.name)
              "
            />
            <div class="product-list-detail">
              <div class="product-name">{{ slotProps.data.name }}</div>
              <div class="product-description">
                {{ slotProps.data.description }}
              </div>

              <ProgressBar
                :value="slotProps.data.progress"
                style="height: 0.5em"
                class="mb-3 ml-5 mr-5"
                :showValue="false"
              ></ProgressBar>
              <i class="pi pi-sync product-category-icon"></i
              ><span class="product-category">{{ slotProps.data.status }}</span>
            </div>
            <div class="product-list-action">
              <span class="product-price"
                ><i class="pi pi-users"></i>
                {{ slotProps.data.roles.length }}</span
              >
              <Button
                icon="pi pi-angle-double-right"
                @click="() => $router.push('/project/' + slotProps.data.id)"
                label="Detail"
              ></Button>
              <span :class="'product-badge status-instock'">{{
                slotProps.data.type
              }}</span>
            </div>
          </div>
        </div>
      </template>
    </DataView>
  </main>
</template>

<script setup lang="ts">
import DataView from "primevue/dataview";
import Dropdown from "primevue/dropdown";
import DataViewLayoutOptions from "primevue/dataviewlayoutoptions";
import ProgressBar from "primevue/progressbar";
import Button from "primevue/button";
import Avatar from "primevue/avatar";
import { useProjectStore } from "@/stores/project";
import { storeToRefs } from "pinia";
import { getCurrentInstance, inject, ref } from "vue";
import Utils from "@/service/Utils";

const { projects } = storeToRefs(useProjectStore());
const { fetchProjects } = useProjectStore();
let keycloak =
  getCurrentInstance()?.appContext.config.globalProperties.$keycloak;
const utils: Utils | undefined = inject(Utils.name);

let layout = ref("grid");
const sortKey = ref();
const sortOrder = ref();
const sortField = ref();
const sortOptions = ref([
  { label: "Name asc", value: "name" },
  { label: "Name desc", value: "!name" },
]);
const onSortChange = (event: any) => {
  const value = event.value.value;
  const sortValue = event.value;

  if (value.indexOf("!") === 0) {
    sortOrder.value = -1;
    sortField.value = value.substring(1, value.length);
    sortKey.value = sortValue;
  } else {
    sortOrder.value = 1;
    sortField.value = value;
    sortKey.value = sortValue;
  }
};

function initial(name: string) {
  return name.charAt(0);
}

function computeColor(name: string) {
  return utils?.computeColor(name);
}

function getTextColor(name: string) {
  return utils?.getTextColor(utils?.computeColor(name));
}

fetchProjects(keycloak.token);
</script>

<style lang="scss" scoped>
.card {
  background: #ffffff;
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}
.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

::v-deep(.product-list-item) {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;

  img {
    width: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
  }

  .product-list-detail {
    flex: 1 1 0;
  }

  .p-rating {
    margin: 0 0 0.5rem 0;
  }

  .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .p-button {
    margin-bottom: 0.5rem;
  }
}

::v-deep(.product-grid-item) {
  margin: 0.5rem;
  border: 1px solid var(--surface-border);

  .product-grid-item-top,
  .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
  }

  .product-grid-item-content {
    text-align: center;
  }

  .product-price {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 576px) {
  .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
</style>
