<template>
  <div class="col-12">
    <Card>
      <template #title> Lifecycle Models </template>
      <template #content>
        <DataTable :value="lifecycleModels">
          <Column field="name" header="Name"></Column>
          <Column field="projectStatuses" header="Stages">
            <template #body="slotProps">
              <Chip
                v-for="stage in slotProps.data.projectStatuses"
                :label="stage"
                class="mr-2 mb-1 p-1 pl-3 pr-3"
              ></Chip>
            </template>
          </Column>
        </DataTable>
      </template>
    </Card>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useProjectStore } from "@/stores/project";
import { inject } from "vue";
import Card from "primevue/card";
import type Keycloak from "keycloak-js";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Chip from "primevue/chip";

const { loading, lifecycleModels } = storeToRefs(useProjectStore());
const { getProjectModels } = useProjectStore();

let keycloak = inject<Keycloak>("keycloak");

getProjectModels(keycloak?.token || "");
</script>

<style scoped></style>
