<template>
  <div class="grid">
    <div class="col-12">
      <h1>{{ project?.name }}</h1>
    </div>
    <div class="xl:col-4 md:col-7 col-9">
      <Card>
        <template #title> Project Information </template>
        <template #content>
          <div class="surface-section">
            <div class="text-500 mb-5">
              Basic information about this project.
            </div>
            <ul class="list-none p-0 m-0">
              <EditableItem
                :value="project?.type"
                name="Type"
                :options="projectTypes"
                :callback="updateProjectType"
              ></EditableItem>
              <li
                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                v-if="jiraModule && epics.length > 0"
              >
                <div class="text-500 w-6 md:w-2 font-medium">Epics</div>
                <div
                  class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                >
                  <Chip
                    v-for="epic in epics"
                    :label="epic.details"
                    class="mr-2 mb-1"
                  ></Chip>
                </div>
              </li>
              <EditableItem
                :value="project?.status"
                name="Status"
                :options="project?.model.projectStatuses"
                :callback="updateProjectStatus"
              ></EditableItem>
              <EditableItem
                :value="project?.model?.name"
                name="Lifecycle Model"
                :options="lifecycleModelNames"
                :callback="updateProjectModel"
              ></EditableItem>
            </ul>
          </div>
        </template>
      </Card>
    </div>
    <div class="xl:col-3 md:col-5 col-3">
      <Card>
        <template #title> Lifecycle </template>
        <template #content>
          <Timeline :value="timelineEvents">
            <template #opposite="slotProps">
              <small class="p-text-secondary">{{ slotProps.item.date }}</small>
            </template>
            <template #content="slotProps">
              <div class="font-bold" v-if="slotProps.item.date != null">
                {{ slotProps.item.status }}
              </div>
              <div v-else>{{ slotProps.item.status }}</div>
            </template>
            <template #connector>
              <div
                class="p-timeline-event-connector"
                style="width: 4px; color: red"
              ></div>
            </template>

            <template #marker="slotProps">
              <div
                class="p-timeline-event-marker-done"
                v-if="slotProps.item.date != null"
              ></div>
              <div class="p-timeline-event-marker" v-else></div>
            </template>
          </Timeline>
        </template>
      </Card>
    </div>

    <GitlabProjectDetail v-if="gitlabModule"></GitlabProjectDetail>
    <JiraProjectDetail v-if="jiraModule"></JiraProjectDetail>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useProjectStore } from "@/stores/project";
import { computed, inject } from "vue";
import { useRoute } from "vue-router";
import Card from "primevue/card";
import Chip from "primevue/chip";
import Timeline from "primevue/timeline";
import type { TimelineEvent } from "@/model/TimelineEvent";
import EditableItem from "@/components/EditableItem.vue";
import JiraProjectDetail from "@/modules/projectmanagement/jira/components/JiraProjectDetail.vue";
import GitlabProjectDetail from "@/modules/vcs/gitlab/components/GitlabProjectDetail.vue";
import type Keycloak from "keycloak-js";
import { useJiraProjectStore } from "@/modules/projectmanagement/jira/stores/jiraproject";
import {
  ProjectUpdateModelAction,
  ProjectUpdateStatusAction,
  ProjectUpdateTypeAction,
} from "@/model/Action";
import type Project from "@/model/Project";

const { project, loading, projectTypes, lifecycleModelNames } = storeToRefs(
  useProjectStore()
);
const { getProject, updateProject, getProjectTypes, getProjectModels } =
  useProjectStore();
const { projectDetails } = storeToRefs(useJiraProjectStore());

const route = useRoute();

const jiraModule = import.meta.env["VITE_JIRA_MODULE"] === "enabled";
const gitlabModule = import.meta.env["VITE_GITLAB_MODULE"] === "enabled";

let timelineEvents = computed(() => {
  let modelStatuses = project.value?.model.projectStatuses;
  let history: TimelineEvent[] | undefined = project.value?.statusHistory.map(
    (it) => {
      return {
        status: it.projectStatus,
        date: it.date,
      };
    }
  );
  let future: TimelineEvent[] | undefined = modelStatuses?.map((it) => {
    return {
      status: it,
      date: null,
    };
  });
  if (history && history.length > 0) {
    let last = history[history.length - 1];
    if (future && !future.every((e) => e.status !== last.status)) {
      future.reverse();
      while (future.pop()?.status != last.status) {}
      future.reverse();
    }
  }
  if (history === undefined) return future;
  if (future === undefined) return history;
  return [...history, ...future];
});

const epics = computed(() => projectDetails.value.flatMap((pd) => pd.epics));

let keycloak = inject<Keycloak>("keycloak");

getProject(route.params.id as unknown as number, keycloak?.token || "");
getProjectTypes(keycloak?.token || "");
getProjectModels(keycloak?.token || "");

function updateProjectStatus(status: string) {
  if (project.value?.status === status) return;
  updateProject(
    new ProjectUpdateStatusAction(
      project.value?.status,
      keycloak?.token,
      project.value as Project,
      status
    )
  );
}

function updateProjectType(type: string) {
  updateProject(
    new ProjectUpdateTypeAction(
      project.value?.type,
      keycloak?.token,
      project.value as Project,
      type
    )
  );
}

function updateProjectModel(model: string) {
  updateProject(
    new ProjectUpdateModelAction(
      project.value?.model?.name,
      keycloak?.token,
      project.value as Project,
      model
    )
  );
}
</script>

<style lang="scss">
.p-card {
  //margin: 1rem !important;
}

.p-timeline-event-marker-done {
  border: 2px solid #2196f3;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #2196f3;
}
</style>
