<template>
  <div class="col md:col-12 lg:col-8 xl:col-4">
    <Card>
      <template #title> Jira </template>
      <template #content>
        <h4>Select project</h4>

        <Dropdown
          v-model="selected"
          :options="projects"
          optionLabel="name"
          :filter="true"
          :showClear="true"
        ></Dropdown>
        <Button
          label="Add"
          icon="pi pi-pencil"
          class="p-button-text p-button-raised"
          @click="addProject"
        ></Button>

        <Chart
          type="line"
          :data="totalsChartData"
          v-if="totalsChartData.labels.length > 0"
        />
      </template>
    </Card>
  </div>
  <div v-for="projectDetail in projectDetails" class="col-8 md:col-6" v-bind:key="projectDetail.id">
    <Card>
      <template #title>
        {{ projectDetail.name }}
      </template>
      <template #content>
        <DataTable
          :value="projectDetail.worklogs"
          :paginator="true"
          :rows="10"
          paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
          :rowsPerPageOptions="[10, 20, 50]"
          responsiveLayout="scroll"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
          v-model:filters="filters"
          filterDisplay="row"
        >
          <Column field="worker" header="Worker">
            <template #filter="{ filterModel, filterCallback }">
              <InputText
                type="text"
                v-model="filterModel.value"
                @input="filterCallback()"
                class="p-column-filter"
                placeholder="Filter worker"
              />
            </template>
          </Column>
          <Column
            field="amountMinutes"
            header="Amount"
            :sortable="true"
            dataType="numeric"
            style="min-width: 8rem"
          >
            <template #body="slotProps">
              {{ formatAmount(slotProps.data.amount) }}
            </template>
            <template #filter="{ filterModel, filterCallback }">
              <InputNumber
                v-model="filterModel.value"
                @input="filterCallback()"
                suffix=" minutes"
                placeholder="Filter minutes"
              />
            </template>
          </Column>
          <Column field="month" header="Month" :sortable="true">
            <template #filter="{ filterModel, filterCallback }">
              <InputText
                type="text"
                v-model="filterModel.value"
                @input="filterCallback()"
                class="p-column-filter"
                placeholder="Filter month"
              />
            </template>
          </Column>
        </DataTable>
      </template>
    </Card>
  </div>
</template>

<script setup lang="ts">
import Card from "primevue/card";
import Dropdown from "primevue/dropdown";
import Button from "primevue/button";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import InputText from "primevue/inputtext";
import InputNumber from "primevue/inputnumber";
import Chart from "primevue/chart";
import { useJiraProjectStore } from "@/modules/projectmanagement/jira/stores/jiraproject";
import { inject, ref } from "vue";
import type Keycloak from "keycloak-js";
import { storeToRefs } from "pinia";
import { useProjectStore } from "@/stores/project";
import { useRoute } from "vue-router";
import { FilterMatchMode} from "primevue/api";

const { fetchProjects, getProjectDetails, linkProject } = useJiraProjectStore();
const { project } = storeToRefs(useProjectStore());
const { projectDetails, projects, totals } = storeToRefs(useJiraProjectStore());

const keycloak = inject<Keycloak>("keycloak");

const route = useRoute();

let selected = ref();

const totalsChartData = ref({
  labels: ["months"],
  datasets: [
    {
      label: "Total hours",
      data: [0],
      fill: false,
      borderColor: "#42A5F5",
      tension: 0.4,
    },
  ],
});

getProjectDetails(
  route.params.id as unknown as number,
  keycloak?.token || ""
).then(formatChartData);
fetchProjects(keycloak?.token || "");

function addProject() {
  linkProject(
    route.params.id as unknown as number,
    keycloak?.token || "",
    selected.value.id
  ).then(formatChartData);
  selected.value = null;
}

function formatAmount(seconds: number) {
  const hours = Math.floor(seconds / 3600);
  const minutes = Math.floor((seconds - hours * 3600) / 60);
  seconds = seconds - hours * 3600 - minutes * 60;
  let result = `${seconds}s`;
  if (minutes) {
    result = `${minutes}m ${seconds}s`;
  }
  if (hours) {
    if (minutes) {
      result = `${hours}h ${minutes}m ${seconds}s`;
    } else {
      result = `${hours}h ${seconds}s`;
    }
  }
  return result.replace("0s", "");
}

function formatChartData() {
  totalsChartData.value.labels = [...Object.keys(totals.value).reverse()];
  totalsChartData.value.datasets[0].data = [
    ...Object.values(totals.value)
      .map((s) => {
        return s / 3600;
      })
      .reverse(),
  ];
}

const filters = ref({
  worker: { value: null, matchMode: FilterMatchMode.CONTAINS },
  month: { value: null, matchMode: FilterMatchMode.CONTAINS },
  amountMinutes: { value: null, matchMode: FilterMatchMode.GREATER_THAN },
});
</script>

<style scoped></style>
