<template>
  <Menubar :model="items" />
</template>

<script setup lang="ts">
import Menubar from "primevue/menubar";
import { getCurrentInstance, ref } from "vue";

let keycloak =
  getCurrentInstance()?.appContext.config.globalProperties.$keycloak;

const items = ref([
  {
    label: "Projects",
    icon: "pi pi-fw pi-file",
    items: [
      {
        label: "New",
        icon: "pi pi-fw pi-plus",
        to: "/project/create",
      },
      {
        label: "Dashboard",
        icon: "pi pi-fw pi-table",
        to: "/",
      },
    ],
  },
  {
    label: "Lifecycle Models",
    icon: "pi pi-fw pi-pencil",
    items: [
      {
        label: "List",
        icon: "pi pi-fw pi-align-left",
        to: "/lifecycleModels",
      },
    ],
  },
  {
    label: "Stakeholders",
    icon: "pi pi-fw pi-user",
    items: [
      {
        label: "New",
        icon: "pi pi-fw pi-user-plus",
      },
      {
        label: "List",
        icon: "pi pi-fw pi-align-left",
      },
    ],
  },
  {
    label: "Actions",
    icon: "pi pi-fw pi-calendar",
    items: [
      {
        label: "List",
        icon: "pi pi-fw pi-align-left",
        to: "/actions",
      },
    ],
  },
  {
    label: "Log out",
    icon: "pi pi-fw pi-power-off",
    command: () => {
      return keycloak.logoutFn();
    },
  },
]);
</script>

<style scoped></style>
