<template>
  <Dialog
    v-model:visible="actionDialog"
    :style="{ width: '550px' }"
    header="Create Action"
    :modal="true"
    class="p-fluid"
  >
    <div class="field">
      <label for="fromStatus" class="mb-3"
        >When project status is changed
        <span class="font-bold">from</span> status</label
      >
      <Dropdown
        id="fromStatus"
        v-model="selectedFrom"
        :options="statusDropdownData"
        optionGroupLabel="name"
        optionGroupChildren="statuses"
        placeholder="Select a Status"
        :filter="true"
        optionLabel="name"
        filterPlaceholder="Search"
      >
        <template #optiongroup="slotProps">
          <div class="flex align-items-center country-item">
            <div>{{ slotProps.option.name }}</div>
          </div>
        </template>
      </Dropdown>
    </div>

    <div class="field">
      <label for="toStatus" class="mb-3"
        ><span class="font-bold">to</span> status</label
      >
      <Dropdown
        id="toStatus"
        v-model="selectedTo"
        :options="statusDropdownData"
        optionGroupLabel="name"
        optionGroupChildren="statuses"
        placeholder="Select a Status"
        :filter="true"
        optionLabel="name"
        filterPlaceholder="Search"
      >
        <template #optiongroup="slotProps">
          <div class="flex align-items-center country-item">
            <div>{{ slotProps.option.name }}</div>
          </div>
        </template>
      </Dropdown>
    </div>

    <div class="field">
      <label for="toStatus" class="mb-3"
        >execute these <span class="font-bold">Module Actions</span></label
      >
      <MultiSelect
        v-model="selectedModelActions"
        :options="available"
        optionLabel="name"
        placeholder="Select Module Actions"
        display="chip"
      />
    </div>

    <template #footer>
      <Button
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        @click="hideDialog"
      />
      <Button
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        @click="saveAction"
      />
    </template>
  </Dialog>
</template>

<script setup lang="ts">
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";
import MultiSelect from "primevue/multiselect";
import { storeToRefs } from "pinia";
import { useActionStore } from "@/stores/action";
import { inject, ref } from "vue";
import type Keycloak from "keycloak-js";
import StatusUpdateAction from "@/model/StatusUpdateAction";
import {toastBus} from "@/main";

const { available, actionDialog, statusDropdownData } = storeToRefs(
  useActionStore()
);
const { getLifecycleModels, getAvailableActions, createAction } =
  useActionStore();

let keycloak = inject<Keycloak>("keycloak");

getLifecycleModels(keycloak?.token || "");
getAvailableActions(keycloak?.token || "");

const submitted = ref(false);
const selectedFrom = ref<{ name: string } | null>(null);
const selectedTo = ref<{ name: string } | null>(null);
const selectedModelActions = ref([]);

const hideDialog = () => {
  actionDialog.value = false;
  submitted.value = false;
};

const saveAction = () => {
  if (selectedFrom.value !== null && selectedTo.value !== null) {
    createAction(
      new StatusUpdateAction(
        selectedFrom.value.name,
        selectedTo.value.name,
        selectedModelActions.value
      ),
      keycloak?.token || ""
    )
      .then(() => {
        selectedFrom.value = null;
        selectedTo.value = null;
        selectedModelActions.value = [];
      })
      .catch((err) => {
        if(err.response.status === 409){
          toastBus.emit("toast", {
            severity: "error",
            summary: "Conflict",
            detail: "Action already exists",
          });
        }
      });
  }
};
</script>

<style scoped></style>
