<template>
  <Dialog
    v-model:visible="deleteActionDialog"
    :style="{ width: '450px' }"
    header="Confirm"
    :modal="true"
  >
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span v-if="action"
        >Are you sure you want to delete action from <b>{{ action.from }}</b> to
        <b>{{ action.to }}</b
        >?</span
      >
    </div>
    <template #footer>
      <Button
        label="No"
        icon="pi pi-times"
        class="p-button-text"
        @click="deleteActionDialog = false"
      />
      <Button
        label="Yes"
        icon="pi pi-check"
        class="p-button-text"
        @click="deleteProduct"
      />
    </template>
  </Dialog>
</template>

<script setup lang="ts">
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import { storeToRefs } from "pinia";
import { useActionStore } from "@/stores/action";
import { inject } from "vue";
import type Keycloak from "keycloak-js";

const { action, deleteActionDialog } = storeToRefs(useActionStore());
const { deleteAction } = useActionStore();

let keycloak = inject<Keycloak>("keycloak");

const deleteProduct = () => {
  deleteActionDialog.value = false;
  if (action.value !== null) {
    deleteAction(action.value, keycloak?.token || "");
  }
  action.value = null;
};
</script>

<style scoped></style>
