<template>
  <li
    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
  >
    <div class="text-500 w-6 md:w-2 font-medium">{{ name }}</div>
    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
      <div v-if="!editing">{{ props.value }}</div>
      <Dropdown v-else v-model="selected" :options="enhancedOptions"></Dropdown>
    </div>
    <div class="w-6 md:w-2 flex justify-content-end">
      <Button
        v-if="!editing"
        label="Edit"
        icon="pi pi-pencil"
        class="p-button-text"
        @click="editMode()"
      ></Button>
      <Button
        v-else
        label="Submit"
        icon="pi pi-pencil"
        class="p-button-text"
        @click="submitChange"
      ></Button>
    </div>
  </li>
</template>

<script setup lang="ts">
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";
import { computed, onMounted, ref } from "vue";
import { useProjectStore } from "@/stores/project";
import { storeToRefs } from "pinia";
const { project } = storeToRefs(useProjectStore());

const props = defineProps({
  value: String,
  name: String,
  options: Array,
  callback: Function,
});

const enhancedOptions = computed(() => {
  let newOpts = props.options;
  if (props.options?.indexOf(props.value) === -1) {
    newOpts?.push(props.value);
  }
  return newOpts;
});

let editing = ref(false);
let selected = ref<string>();

onMounted(() => {
  selected.value = props.value;
});

function submitChange() {
  editing.value = !editing.value;

  props.callback?.(selected.value);
}

function editMode() {
  editing.value = !editing.value;
  selected.value = props.value;
}
</script>

<style scoped></style>
