$sm:576px !important;
$md:768px !important;
$lg:992px !important;
$xl:1300px !important;
$xxl:2000px !important;

$breakpoints: (
        'sm': $sm,
        'md': $md,
        'lg': $lg,
        'xl': $xl,
        'xxl': $xxl
);
