<script setup lang="ts">
import { RouterView } from "vue-router";
import AppMenu from "@/components/AppMenu.vue";
import AuthView from "@/views/AuthView.vue";
import { getCurrentInstance, inject, provide } from "vue";
import ProjectService from "@/service/ProjectService"; // Import the PrimeVue layout utility library.
import Toast from "primevue/toast";
import type { Events } from "@/model/Toast";
import { useToast } from "primevue/usetoast";
import type { Emitter } from "mitt";
import Utils from "@/service/Utils";

const toastBus: Emitter<Events> | undefined = inject("toastBus");
const toast = useToast();

provide(ProjectService.name, new ProjectService());
provide(Utils.name, new Utils());

provide(
  "keycloak",
  getCurrentInstance()?.appContext.config.globalProperties.$keycloak
);

toastBus?.on("toast", (event) => {
  toast.add(event);
});
</script>

<template>
  <Toast></Toast>
  <div v-if="$keycloak && $keycloak.ready">
    <div v-if="$keycloak.authenticated">
      <header>
        <div class="wrapper">
          <nav>
            <AppMenu />
          </nav>
        </div>
      </header>

      <RouterView />
      <!--      <h2>You should only be able to see this if you are authenticated.</h2>-->
      <!--      <h3>This is what my token looks like:</h3>-->
      <!--      <code>{{ $keycloak.tokenParsed }}</code>-->
      <!--      <h3>This is your access token:</h3>-->
      <!--      <code>{{ $keycloak.token }}</code>-->
      <!--      <br />-->
      <!--      <button @click="$keycloak.logoutFn">Logout</button>-->
      <!--      <button @click="$keycloak.keycloak.updateToken(300)">-->
      <!--        Refresh token-->
      <!--      </button>-->
    </div>
    <div v-else>
      <AuthView></AuthView>
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.app-container {
  text-align: center;
}
body #app .p-button {
  margin-left: 0.2em;
}
form {
  margin-top: 2em;
}
</style>
